body{
    padding: 0px;
    margin: 0px;
}
.hero-image {
    height: 150px;
    width: 150px;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .link {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  nav {
    width: auto;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 255);
  }
  .first-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.hero-div{
    display: flex;
    flex-direction: column;
    height: 60vh;
    gap: 15px;

}
  .first-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
    .first-h{
        color: yellowgreen;

    }
    .first-image{
        width: 100%;
        height: 60vh;
        border-radius: 50%;
         padding-top: 10px;
         padding-bottom: 10px;
    }

    .second-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 15px;
      background-image:url(../photos/imageddd.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vh;
    }

    .first-massege{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 3px;
      width: 60vw;
    }
    .second-massege{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 10px;
      width: 60vw;
    }
    .kid-div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: left;
      gap: 10px;
    }
    .guests{
      height: 150px;
      width: 150px;
      border-radius: 50%;
    }
    footer{
      background-color: rgba(51, 51, 51, 255); 
      height: 5vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media only screen and (max-width:750px) {
      nav{
        flex-direction: column;
        height: auto;
       }
       .nav-links{
        flex-direction: column;
        gap: 20px;
       }
       .first-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .hero-div{
      height: 30vh;
    }
    .first-image{
      width: 60vw;
      height: 60vh;
    }
    .second-section {
      gap: 10px;
      height: auto;
      width: auto;
    }
    .first-massege {
      display: flex;
      height: auto;
      width: auto;
  }
    
    .kid-div{
      flex-direction: column;
    }
    .guests {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
    .second-massege{
      flex-direction: column;
    }
  }